$backgroundColor: #f77462;
$list: #6dc5dd;
$border: #5ab2ca;
$geneicons: #fff;
$tab_odd: #0EB5FF;
$tab_even: #0295D5;


.accordion {
  margin: 0 auto;
  background: $border;
  max-width: 1160px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 374px;
  font-size: 0;
}

.tabs {
  &:nth-child(odd){
    background-color: $tab_odd;
  }
  &:nth-child(even){
    background-color: $tab_even;
  }
  display: inline-block;
  background-color: $list;
  //border-right: $border 1px solid;
  width: 70px;
  height: 374px;
  overflow: hidden;
  position: relative;
  margin: 0;
  font-size: 16px;
  @include transition( all 0.4s 0.1s ease-in-out );
  &:nth-child(1){
    &.active {
      background-color: #DF3659;
    }
  }
  &.active {
    width: calc(100% - 280px);

    .social-links {
      position: relative;
      img {
        position: absolute;
        width: 38px;
        left: 15px;
        top: 20px;
        &:before {
          margin-left: -100px;
        }

        &:after {
          margin-left: 0px;
        }
      }
    }
  }
  .social-links {
    position: relative;
    img {
      position: absolute;
      width: 38px;
      left: 15px;
      top: 20px;
      &:before {
        margin-left: -100px;
      }

      &:after {
        margin-left: 0px;
      }
    }
  }
  .paragraph {
    position: relative;
    width: calc(100% - 70px);
    margin-left: 70px;
    padding: 50px 0 0 10px;
    height: 374px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    img {
      position: absolute;
      width: 38px;
      left: -52px;
      top: 32px;
    }
    h1 {
      font-size: 2.5em;
      margin-bottom: 10px;
    }

    p {
      font-size: 0.88em;
      line-height: 1.5em;
      padding-right: 30px;
    }
  }
}