.filter-panel-section {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  padding: 30px 20px 10px;
  border-bottom: 1px solid lighten($color_fontColor, 30%);

  .filter-panel-container {
    &__success {
      .separateLine {
        margin: 0 20px;
      }
    }
    &__latestRelease {
      .separateLine {
        margin: 0 20px;
      }
    }

    display: flex;

    .recommend-container {
      @include breakpoint($ipad) {
        flex-wrap: wrap;
        justify-content: center;
      }
      display: flex;
      justify-content: space-around;
      align-items: center;

      &__latestRelease {
        .month {
          &.active {
            color: $color_occupy;
            background-color: unset;
          }
          &:last-child {
            padding-right: 0;
          }
          padding-right: 15px;
          color: $color_fontColor;
          cursor: pointer;
        }
      }

      select {
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: black;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        -webkit-appearance: menulist;
        box-sizing: border-box;
        align-items: center;
        white-space: pre;
        -webkit-rtl-ordering: logical;
        background-color: rgb(248, 248, 248);
        cursor: default;
        margin: 0em;
        font: 400 11px system-ui;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(166, 166, 166);
        border-image: initial;

        option {
          font-size: $standardFontSize;
          color: $color_fontColor;
        }
      }

      span {
        @include breakpoint($ipad) {
          padding: 0;
        }
        color: $color_occupy;
        font-size: $standardFontSize;
        white-space: nowrap;
        padding: 0 20px 0 0;
      }
    }

    .filter-tag {
      display: flex;
      align-items: center;
      @include breakpoint($ipad) {
        flex-wrap: wrap;
        justify-content: center;
      }

      span {
        @include breakpoint($ipad) {
          padding: 10px;
        }
        color: $color_fontColor;
        font-size: $standardFontSize;
        padding: 0 15px 0 0;
      }

      .tag {
        @include breakpoint($ipad) {
          margin-bottom: 5px;
        }

        &:hover {
          color: $color_fontColor;
        }

        cursor: pointer;
        border-radius: 20px;
        font-size: $standardFontSize;
        margin: 0 5px;
        padding: 5px 12px;
        color: lighten($color_fontColor, 10%);
        border: 1px solid lighten($color_fontColor, 30%);
      }
    }
  }
}