footer {
  max-width: 1160px;
  margin: 20px auto 0;

  .d-flex {
    display: flex;
    justify-content: flex-end;
    @include breakpoint($ipad) {
      justify-content: center;
    }
    p {
      padding: 0 0 30px;
      @include breakpoint($ipad) {
        text-align: center;
        font-size: x-small;
      }

    }
  }
}

.footerBlue {
  @include breakpoint($ipad){
    border-radius: unset;
  }
  height: 25px;
  width: 100%;
  max-width: 1160px;
  margin: 10px auto 0;
  border-radius: 0 0 16px 16px;
  background-color: $color_occupy;
}