footer {
  max-width: 1160px;
  margin: 30px auto 0;

  .d-flex {
    display: flex;
    justify-content: flex-end;
    @include breakpoint($ipad) {
      justify-content: center;
    }
    p {
      padding: 0 0 30px;
      @include breakpoint($ipad) {
        text-align: center;
        font-size: x-small;
      }

    }
  }
}