.quickMenu {
  margin-top: 10px;
  display: none;
  @include breakpoint($iphone){
    display: flex;
    flex-flow: row wrap;
  }

  div {
    flex: 1 1 33.33%;
    height: 20vh;
    border: 1px solid red;
    background-color: #0EB5FF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}