.result {
  @include breakpoint($ipad) {
    margin-top: 15px;
  }

  .resultNav {
    max-width: 1170px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include breakpoint($ipad){
      padding: 5px;
    }

    .resultItem {
      cursor: pointer;
      padding: 20px 10px 0;
      flex: 0 1 25%;

      @include breakpoint($ipad) {
        margin: 0;
        padding: 5px;
        flex: 0 1 50%;
      }

      .resultItem-img {
        background-position: center center;
        background-size: cover;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          color: rgba($color_white, .7)
        }

        &:hover {
          svg {
            color: rgba($color_white, 1)
          }
        }
      }

      .resultItem-content {
        text-align: center;
        line-height: 1.5;
        font-size: $defaultFontSize;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        color: $color_fontColor;
        font-weight: normal;
        .resultItem-subject {
          color: $color_occupy;
          line-height: 1.6;
          br {
            @include breakpoint($iphone){
              display: block;
            }
            display: none;
          }
        }
      }
    }
  }
}