
.modalMask {
  .posting {
    display: none;
    position: absolute;
    z-index: 100;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint($ipad) {
      width: 100%;
    }

    .container--service {
      .close {
        position: absolute;
        right: 10px;
        top: 7px;
      }

      @include breakpoint($ipad) {
        width: 100%;
        flex-wrap: wrap;
        flex-flow: column;
      }
      position: relative;
      width: 1030px;
      padding: 20px;
      background: $color_white;
      display: flex;
      flex-flow: row;

      .slider {
        @include breakpoint($ipad) {
          height: auto;
          flex-shrink: 1;
        }

        flex: 0 1 0;
        width: 0;
        height: 0;
        visibility: hidden;

        &.slick-dotted.slick-slider {
          margin-bottom: 0;
        }
      }

      .carouselVerticalNav--service {
        @include breakpoint($ipad) {
          height: auto;
          margin: 0;
        }
        order: 1;
        flex: 1 1 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        position: relative;
        margin: 0 0 0 20px;
        height: 518.14px;
        overflow: hidden;

        .briefIntro--service {
          display: flex;
          flex-flow: column;
          justify-content: space-evenly;
          padding: 10px 10px 0 0;
          height: 170px;

          .briefIntro_title {
            color: $color_occupy;
            line-height: 1.2;
            font-size: 1.25rem;
            letter-spacing: 1px;
            margin-bottom: 10px;
            span {
              letter-spacing: 0px;
            }
          }

          .briefIntro_desc {
            margin-top: 10px;
            font-size: $miniDesc;
            line-height: 1.5;
            color: $color_fontColor;
            font-weight: 100;
          }
        }

        .miniPic--service {
          @include breakpoint($ipad) {
            justify-content: flex-start;
            flex-flow: row;
            width: 100%;
            height: auto;
            overflow: auto;
          }
          margin: 0 auto;
          padding: 0;
          height: calc(100% - 200px);
          width: 196px;
          display: flex;
          flex-flow: column wrap;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: stretch;
          overflow: hidden;

          img {
            @include breakpoint($ipad) {
              width: 25%;
            }
            cursor: pointer;
            padding: 5px 5px 0 0;
            width: 50%;
            flex: 0 1 25%;
          }
        }

        .conditionBtn {
          &_right {
            display: none;
          }

          &_left {
            display: none;
          }


          opacity: 1;
          cursor: pointer;
          position: absolute;
          bottom: 15px;
          right: 25px;
          background-color: white;
          padding: 5px;

          .svg-inline--fa {
            color: $color_occupy;
          }
        }
      }
    }
  }

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

