.success {
  @include breakpoint($ipad) {
    margin-top: 15px;
  }

  .successNav {
    max-width: 1170px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include breakpoint($iphone){
      justify-content: space-between;
      padding: 5px;
    }
    .successItem {
      cursor: pointer;
      padding: 20px 10px 0;
      flex: 0 1 25%;

      @include breakpoint($ipad) {
        flex: 0 1 33.33%;
        margin: 0;
        padding: 0;
      }
      @include breakpoint($iphone) {
        flex: 1 1 50%;
        margin: 0;
        padding: 5px;
      }

      .successItem-img {
        background-position: center center;
        background-size: cover;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          color: rgba($color_white, .7)
        }

        &:hover {
          svg {
            color: rgba($color_white, 1)
          }
        }
      }

      .successItem-content {
        display: flex;
        justify-content: center;
        padding: 10px;
        @include breakpoint($iphone) {
          padding: 5px 2px;
        }

        .successItem-subject {
          br {
            display: none;
            @include breakpoint($iphone) {
              display: block;
            }
          }
          color: $color_occupy;
          @include breakpoint($iphone) {
            font-size: $defaultFontSize;

          }
        }
      }
    }
  }
}