.success {
  @include breakpoint($ipad) {
    margin-top: 15px;
  }

  .successNav {
    max-width: 1170px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;


    .successItem {
      cursor: pointer;
      padding: 20px 10px 0;
      flex: 0 1 25%;

      @include breakpoint($ipad) {
        margin: 0;
        padding: 0;
      }

      .successItem-img {
        background-position: center center;
        background-size: cover;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          color: rgba($color_white, .7)
        }

        &:hover {
          svg {
            color: rgba($color_white, 1)
          }
        }
      }

      .successItem-content {
        display: flex;
        justify-content: center;
        padding: 10px;

        .successItem-subject {
          color: $color_occupy;
        }
      }
    }
  }
}