.section-title {
  span {
    margin-left: 25px;
    font-size: 20px;
    color: $color_occupy;
  }
  max-width: 1160px;
  margin: 0 auto;
  font-size: 1.4rem;
  @include breakpoint($ipad){
    text-align: center;
  }
  .bar {
    border-bottom: 1px solid lighten($color_fontColor, 20%);
    margin-top: 8px;
  }
}