.slick-track {
  display: flex;

  .slick-slide {
    display: flex;
    justify-content: space-between;
    height: auto;
    flex-direction: column;
  }
}

.slick-list:focus {
  outline: none!important;
}
$bigger: 1.4;
.slick-slider {
  overflow: hidden;
  &:hover {
    .slick-prev {
      opacity: 1;
      left: 0;
      z-index: 80;
      transform: scale($bigger);
      transform-origin: center;
    }
    .slick-next {
      opacity: 1;
      right: 0;
      z-index: 80;
      transform: scale($bigger);
      transform-origin: center;
    }
  }
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
$hideDistance: -1200;
.slick-prev {
  @include breakpoint($ipad){
    width: 25px;
  }
  position: absolute;
  opacity: 0;
  left: $hideDistance;
  height: 60px;
  width: 40px;
  transform: scale(.8);
  transition: all .25s ease;
  z-index: -10;

  &:before {
    @include breakpoint($ipad){
      font-size: 20px;
      padding: 5px;
    }
    display: block;
    color: $color_white;
    font-size: 40px;
    content: url(../images/prev.svg);
    //content: '\f104';
    font-family: fontawesome;
    padding: 10px;
    background-color: unset;
  }
}

.slick-next {
  @include breakpoint($ipad){
    width: 25px;
  }
  transition: all .25s ease;
  position: absolute;
  opacity: 0;
  right: $hideDistance;
  height: 60px;
  width: 40px;
  transform: scale(.8);
  z-index: -10;

  &:before {
    @include breakpoint($ipad){
      font-size: 20px;
      padding: 5px;
    }
    display: block;
    color: $color_white;
    font-size: 40px;
    //content: '\f105';
    content: url(../images/next.svg);
    font-family: fontawesome;
    padding: 10px;
    background-color: unset;
  }
}

.slick-dots li button:before {
  font-size: 8px;
  color: $color_slickDots;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  font-size: 8px;
  color: $color_slickDotsActive;
}
.slick-dots li {
  margin: 0;
}
.slick-dots {
  bottom: 8px;
}

.slick-list {
  outline: none !important;
}

.slick-slide {
  outline: none !important;
}